@import 'variables.css';

.footer{
    position: relative;
    height: 8rem;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    margin:0;
    
}
.contenido-footer{
    display: flex;
    gap: 0.1rem;
    flex-direction: column;
    align-items: center;
}