@import url('variables.css');

*{
    
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, html {
   
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    width: 100%;  
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    flex-grow: 1;
    width: 95%;
    max-width: 60rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.2rem;
}
p{
    font-size: 1.2rem;
    text-align: justify;
    color: var(--verde);
}
h1,h2,h3,h4,a{
    color: var(--amarillo);
}
.boton-oscuro{
    background: none;
    border: none;
    text-decoration: none;
    color: var(--amarillo);
    &:hover{
        cursor: pointer;
    }
}

/* Modo oscuro */

.dark-mode{
    
        background-color: #333;
        color: var(--amarillo);
    
}

/* Alerta campo obligatorio */

.mensaje-error{
    color: red;
    padding-top: 0.3rem;
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
}